@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");


*{
    box-sizing: border-box;
}

.containerCard{
   display: grid;
   grid-template-columns: repeat(3, minmax(30%,33%));
   text-align: center;
   gap: 2rem;
   padding: 1rem;

}
.card{
    border: 1px solid black;
    /* font-size: 1.5rem; */
    font-family:"Amayic Sc", cursive;
    font-weight: 0;
    background-color: #212529;
    color: white;
    letter-spacing: 5px;
    position: relative;
    width: 100%;
    border-radius: 0.5rem;
    padding: 5px;


}

.card h1{
    font-size: 20px;
}
img{
    width: 100%;
    height: 300px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.329);
    margin-bottom: 0px;
    vertical-align: middle;
}
.desc{
    height: 0;
    background-color: #000;
    overflow: hidden;
    text-align: justify;
    transition: .5s ease;
    position: absolute;
    bottom: 0;
    opacity: 0.5;
}
.card:hover
  .desc{
  height: 30%;
}

.desc p{
    font-size: 12px;
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;

    
}

@media screen and (max-width: 450px) {
    .containerCard{
        display: grid;
        grid-template-columns: repeat(1, minmax(100%,100%));
        text-align: center;
        gap: 2rem;
        padding: 1rem;

    }   
}